html {
	-webkit-font-smoothing: antialiased!important;
	-moz-osx-font-smoothing: grayscale!important;
	-ms-font-smoothing: antialiased!important;
	overflow: auto;
}

body{
		font-family:"Open Sans", sans-serif, Arial;
		font-size:13px;
		color:#333;

		--input-color: #99A3BA;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;
    --input-border-focus: #275EFE;

	  --link-color:#4f0c5d;
	  --accent-color:#b7c33b;

	  --header-main-background:var(--accent-color);
	  --header-main-link-color:#fff;

	  --main-menu-background:#fff;
	  --main-menu-link-color:#fff;

	  --add-to-cart-background:var(--link-color);
	  --add-to-favorite-background:var(--accent-color);

	  --border-color: #e0e0e0;
	  background: transparent;
	  margin: 0;
		padding: 0;
}

button{border:none; cursor: pointer;}

/** ROOT CONTAINER*/
@media (min-width: 576px) {
	.container{min-width: 100%;margin: 0 auto;}
}
@media (min-width: 992px) {
	.container{min-width: 100%;margin: 0 auto;}
}
@media (min-width: 1200px) {
  	.container{min-width: 82%;margin: 0 auto;}
}

/** COMMMONS */
input[type="text"], input[type="password"], input[type="mail"], input[type="email"], input[type="phone"], input[type="number"], select
{border: none; border-bottom: 1px solid #4f0c5d; background: none; padding: .7rem 0; box-sizing: border-box; width: 100%}
input:focus{outline-style: dotted;outline-width: thin;}
.input-group{display: flex;flex-direction: row;}
.form-label, .form-label span:first-child{font-size:0.68rem;font-weight: bold;text-transform: uppercase;}
.form-group{margin-bottom:1rem}
.invalid-feedback{font-size:0.7rem;color:red;margin-top: 4px;font-weight: 500;}
.flex-form-row{display: flex;flex-direction: row;}
.flex-form-col{width:100%;margin-right:3rem}
.mt5{margin-top: 5rem;}
.border-top {border-top: 0.125rem solid #dee2e6 !important;}
.float-right{float: right;}
.shadowed-pane{box-shadow: 0 0 .2rem rgba(0, 0, 0, .2)}
.js-2x {font-size:2.4em;}
.js-1x {font-size:1.6em;}
.js-xl {font-size:1.2em;}
.no-padding {padding:0rem !important;}
.no-margin{margin:0rem !important;}
.no-border{border:0px;}
.hand-hover{cursor:pointer}
.alert{
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.footer-links {display: flex;justify-content:flex-end;;padding-top: 0.8rem}
.footer-links button{margin-top: 0.5rem;font-size: 0.6rem;text-transform: uppercase;}


/** HEADER */
.all-header{padding-bottom:0px}
.header-main{
    padding: 0;
    background-color: #b7c33b;
    height: 4rem !important;
    display: -webkit-box; display: -moz-box; display: -ms-flexbox; display:
     -webkit-flex; display: flex;
    -webkit-box-pack: justify; -ms-flex-pack: justify;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #b7c33b;
    /*box-shadow: 0 0 0.3rem rgba(0, 0, 0, .2)*/
}
.header-main:after{width: 50%; height: 4rem; z-index: -1; display: block; position: absolute; content: ''; left: 0}
.header-main-logo{padding: 0rem 4rem 0rem 1rem;margin-top:-10px}
.header-main-logo button{background: transparent}
.header-main svg{font-size: 1.2rem; color: #fff;}
.mobile-link{padding: 0!important; margin: 0!important;}
.top-middle{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}
.top-search{}
.top-search input, .top-search input:focus{padding: .45rem 2.5rem; border: none;
  width: 38rem !important;
  height: 80%;border:1px solid #c5cf62;
  margin-top: 0.6rem;background-color: transparent;
  margin-right: -50px;
}
.top-search input::placeholder{color:#dbe19d;}
.top-search input:not(:placeholder-shown),
.top-search input:focus{background-color: #edeced;outline: none;color:#333;}
.top-search input:focus::placeholder{color:#333;}
.top-search svg{color: #c5cf62; transform: translate(-20px, 12px);font-size: 1.2rem}
.search-result{
	min-width: 38rem;
  max-width: 38rem;
	background: #fff;
	max-height:520px;
  height:520px;
  overflow: scroll;
	z-index:2000;
  top:-7px!important;
  left:7px!important;
}
.search-result .arrow{visibility: hidden}
.top-link{margin-left: 1rem;
  display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-box-align: center; -webkit-flex-align: center; -ms-flex-align: center; -webkit-align-items: center; -ms-grid-row-align:center; align-items: center;}
.top-link a{color: #fff; position: relative; margin: 0 !important; padding: 0 1.5rem !important; transition:.3s all ease-in;text-decoration: none}
.top-link a:after{display: block; position: absolute; content: ''; width: .3rem; height: .3rem; background: #fff; border-radius: 1rem; left: 0; top: 0; bottom: 0; margin: auto;}
.top-link a:first-child:after, .top-link *:nth-child(5):after{display: none;}
.top-link a .badge{position: absolute; background: #980ab6; color: #FFF; text-align: center;
  width: 1.5rem; height: 1.5rem; display: inline-block; border-radius: 2rem;
  padding-top: .4rem; box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, .4); right: .85rem;
  top: 0.8rem; font-size: .7rem; box-sizing: border-box;
}
.top-link a h5{margin-bottom: 4px; padding-top: 0; margin-top: 0;font-size: 1rem;text-align: center;}
.top-link a .heart-icon{font-size:1rem}
.top-link .nav-link{height: 100%;padding-top: 1.4rem !important}
.top-link .nav-link:hover{color: #4f0c5d;text-decoration: none;background: #ccd575}
.top-link .dropdown button{color: #fff; height: 4rem; background: rgba(0, 0, 0, .2); border-radius: 0; transition:.3s all ease-in}
.top-link .dropdown button:hover{background-color: #4f0c5d}
.top-link *:nth-child(4), .top-link *:nth-child(5){justify-self: flex-end;}
.top-link .action button i, .top-link .action button span{display: inline !important;}
.main-menu{border-bottom: 1px solid #ebebeb;position: fixed; top: 3.6rem; z-index: 1999; background: #fff; width: 100%;
  display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;height:50px;
  -moz-justify-content: center; -ms-justify-content: center;  -webkit-justify-content: center; justify-content: center;
  -webkit-box-align: center; -webkit-flex-align: center; -ms-flex-align: center; -webkit-align-items: center; -ms-grid-row-align:center; align-items: center;
}
.main-menu-sticky{box-shadow: 0 0 0.3rem rgba(0, 0, 0, .2)}
.main-menu button{padding: 1rem; color: #4f0c5d;transition:.3s all ease-in; position: relative; background: #fff; font-size: 0.8rem;height: 100%;font-weight: 700;outline: none;text-transform: uppercase;}
.main-menu button:after{width: 2.5rem; height: 2.5rem; background:  #b7c33b; transform:scaleX(1.5); transition:.3s all ease-in;
    display: block; position: absolute; content: ''; right: 0; bottom: 0rem; margin: auto; left: 0rem; z-index: -1; border-radius: 10rem;}
.main-menu button:hover:after, .main-menu a.nav-link:hover:after{bottom: -1rem}
.main-button-svg,.header-button-svg{color:#fff}
.header-category button:hover, .main-menu .header-category-link:hover{cursor: pointer;background: #e9edc4;}
.product-search{display: flex;margin-top: 0.5rem}
.product-search .thumb-info{margin-right: 2rem!important;margin-left: 0.2rem!important}


/** Contents and Products card*/
.main-slider{position: relative;}
.main-slider .card-img{border: none; border-radius: 0}
.main-slider .card-img img{width: 100% !important; height: auto!important;}
.main-slider h2{position: absolute; top: 0; bottom: 0; left: 5rem; color: #fff; font-size: 2.5rem; z-index: 9; margin: auto; width: 100%; height: 10rem; text-align: left; padding-top: 2.5rem; padding-left: 2rem}
.main-slider h2:after{z-index: -1; display: block; position: absolute; content: ''; width: 10rem; height: 10rem; border-radius: 200rem; top: 0; left: 0;
  background: -webkit-linear-gradient(top,#4f0c5d,#320f39);
  background: -o-linear-gradient(bottom,#4f0c5d,#320f39);
  background: -moz-linear-gradient(bottom,#4f0c5d,#320f39);
  background: linear-gradient(to bottom, #4f0c5d, #320f39);}
.main-slider h2 small{color: #b7c33b; display: inline-block; background: rgba(0, 0, 0, .4); padding: .5rem 2rem; font-size: 1.5rem; margin-left: 2rem;font-weight:700!important}
.main-product .product-card{ border: none; margin: .5rem !important; position: relative; transition: .3s all ease-in; width: 22%; flex: inherit !important; background: white;box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 2px 20px 0px;}
.main-product .product-card:hover{box-shadow: 0 0 0.7rem rgba(0, 0, 0, .3);}
.main-product .product-card:after{opacity:0;width: 2.3rem; height: 2.3rem; background: #b7c33b; transform: scaleY(1.8); transition: .3s all ease-in;display: block; position: absolute; content: ''; margin: auto; left: -.7rem; top: 29%; z-index: -1; border-radius: 10rem;}
.main-product .product-card:hover:after{top:39%;opacity:1;}
.main-product .product-card .product-item-thumb{padding-top: 0; padding-bottom: 0; overflow: hidden; text-align: center;height:200px;}
.main-product .product-card .product-item-thumb .thumb-info{min-height: 100%}
.main-product .product-card .product-item-thumb .thumb-info img{min-height: 100%;height: 100%;}
.main-product .product-card .product-item-content{background: #fff;}
.main-product .product-card .product-item-content .first-row{display: flex;padding:0.5rem 0.8rem;}
.main-product .product-card .product-item-rating{padding-top: 1rem; padding-bottom: 0; text-align: center;margin-left:36%}
.main-product .product-card .product-card-price{padding: 1rem 1.5rem 0 0; box-sizing: border-box; color: #333;font-weight: 400; font-size: 1rem; overflow: hidden; z-index: 9;}
.main-product .product-card .product-price-discount-percent{position: absolute;left: 0px;top: 0px;font-weight: 400;padding: 4px 6px;background-color: rgb(25, 42, 50);color: #fff;font-size: 0.8rem}
.main-product .product-card .product-card-price-base, .main-product .product-card .product-card-price{font-weight: 700;font-size: 0.9rem}
.main-product .product-card .product-card-discount{color: rgb(126, 154, 166);
    font-size: 0.85rem;text-decoration:line-through;margin-top: 0.06rem;
    font-weight: 400;margin-left: 6px;margin-right: 6px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: table;}
.main-product .product-card .product-item-text{padding:0.3rem 0.8rem}
.main-product .product-card .product-item-description{padding-top:0.3rem}
.main-product .product-card .product-item-text, .main-product .product-card .product-item-name{text-align: left;}
.main-product .product-card .product-item-name a{width: 100%; padding-left: 0;
  color: #4f0c5d; font-weight: normal ; font-size: 0.9rem; text-decoration: none;display: inline-block;}
.main-product .product-card .product-item-description{font-size: .9rem; font-weight: normal; text-align: center;}
.main-product .product-card .product-item-action{
    padding: 0;flex: inherit; display: -webkit-box; display: -moz-box; display: -ms-flexbox;display: -webkit-flex; display: flex;align-items: flex-end;
    opacity: 0;
}
.main-product .product-card:hover .product-item-action{opacity: 1;transition: opacity .5s ease-in;}
.main-product .product-card .product-item-action .float-left,
.main-product .product-card .product-item-action .float-right{width: 50%}
.main-product .product-card .product-item-action .float-left,
.main-product .product-card .product-item-action .float-right{
  background: #4f0c5d; color: #fff; border: none !important; border-radius: 0; width: 100%; margin: 0; padding: .5rem; font-size: 1.2rem;
}
.main-product .product-card .product-item-action .float-right{margin-top: 0;background: transparent;}
.main-product .product-card .product-item-action .float-right{background:#b7c33b}
.main-product .product-card .product-item-action .float-right button,
.main-product .product-card .product-item-action .float-left  button{background: transparent;padding-left:40%;outline: none;padding: .2rem;width: 100%;height: 100%}
.main-product .product-card .product-item-action svg{color: #ffff;font-size: 1.3rem!important; font-weight: 500}
.main-product .product-card .product-item-price .product-price-discount{visibility: hidden;}
.main-product .product-card{min-width:22%;max-width:22%;}
.top-products .product-card{min-width:100%;max-width:100%}

.more-product, .more-product:active{border:none;
	box-shadow:0 0 0.1rem rgba(0, 0, 0, .15);
	border-radius:50px;
	color: #4f0c5d;
  border:1px solid #4f0c5d;
	padding:1rem 2rem;
	min-width:20rem;
  background:#fff;
  text-transform: uppercase;
  display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
  -ms-flex-pack: distribute; justify-content: space-around;
  margin: 2rem auto;
}
.more-product:hover{box-shadow:0 0 0.3rem rgba(0, 0, 0, .55);}
.main-title{font-weight: 700;font-stretch: condensed;font-family: Arial black;font-style: normal;line-height: 120%;
    font-weight: bold;color: #2f3a44;text-transform: uppercase;font-size: 1.6rem;margin-bottom: 2rem;margin-top: 2rem;
}
.main-title::before{
  	border-bottom: 5px solid #000;top: 208px;content: "";display: inline-block;
    left: 50%;margin-left: -40px;position: absolute;width: 80px;
}
.main-title-desc{margin-bottom: 2rem!important;opacity: 0.3}
.main-offer{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
  -moz-justify-content: center; -ms-justify-content: center;  -webkit-justify-content: center; justify-content: center;
}
.main-offer-item{border: .2rem solid #fff; box-shadow: 0 0 0.5rem rgba(0, 0, 0, .15);margin-bottom: 4rem;margin-left: 2rem}
.main-offers-body{padding:1rem}
.main-offers-item-title{margin-bottom:0.8rem;font-size: 0.8rem}
.main-offers-item-desc{font-size: 1rem}
.main-offer img{}
.main-product .product-card .card-body.product-text .product-price .float-left.mt-3{margin-top: 0 !important;width: 100% !important;}
.product-item-thumb:hover{cursor: pointer;}

/** BREADCRUMBS*/
.new-crumb{margin-top:6.6rem;padding-right:1.5rem;border-bottom:1px dotted #E3E4E5;color:#969696;}
.new-crumb nav .breadcrumb{background: none; margin-bottom: 0; padding: .2rem; list-style: none; margin: 0;
  display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
  text-transform: uppercase;padding-left:0px;
}
.new-crumb nav i{}
.new-crumb nav .breadcrumb a{color: #969696; text-decoration: none; padding-right: 0.4rem; display: inline-block;font-size: .7rem;text-align: center;vertical-align: middle;}
.new-crumb nav .breadcrumb a:hover{color: #4f0c5d}
.new-crumb .breadcrumb-item svg{top: 10px}
.breadcrumb-item + .breadcrumb-item::before{color: #861c9c; content: ""; font-size: 2rem; line-height: 0}

/** HORIZONTAL PRODUCTS FILTER*/
.new-filter{background: #fff; margin-bottom: 1rem; color: #4f0c5d; padding:0rem 1rem 0 1rem; width: 100%; box-sizing: border-box;}
.new-filter .btn-toolbar{
    flex-wrap: wrap;background: #fafafa;padding:0.2rem 1rem;
    display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
    -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;
}
.new-filter table{margin-left: -6rem; border-bottom: 0px solid #4f0c5d;}
.new-filter .btn-link{color: #4f0c5d; background: none; padding: .7rem 2rem;}
.new-filter .btn-link svg{border:1px solid #4f0c5d; border-radius: 2rem; color: #a7a7a7; background: #fff; width: 1rem; height: 1rem;}
.new-filter .nb-elements{font-size: 0.7rem!important;font-weight: 600;text-transform: uppercase;}
.new-filter .reinit-button{background: transparent;font-size: 0.7rem;text-transform: uppercase;color: #4f0c5d;}
.new-filter button{outline: none}

.card-deck-new{flex-wrap: wrap;
  -moz-justify-content: center; -ms-justify-content: center;  -webkit-justify-content: center; justify-content: center;
  display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
  -webkit-box-align: center; -webkit-flex-align: center; -ms-flex-align: center; -webkit-align-items: center; -ms-grid-row-align:center; align-items: center;
}


#listpage .admin-list-nocontent{padding: 6rem;text-align: center;}
#listpage .empty-pane{padding: 6rem;text-align: center;}
#listpage .main-content{margin-bottom: 8rem}

/** LOGIN*/
#loginpage .main-title{margin-top: 9rem;margin-bottom: 1rem}
#loginpage .header-main{-moz-justify-content: center; -ms-justify-content: center;  -webkit-justify-content: center; justify-content: center;background: #fff;border-bottom: 1px solid #dedede;}
#loginpage .header-main .header-main-logo{padding: 0;margin-top: 0.2rem;}
#loginpage .help-left-area{width: 480px; height:100%;padding: 2rem;box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);margin-right: 6rem}
#loginpage .new-filter{width: 480px; height:100%;margin: 0 auto; padding: 2rem; margin-bottom: 6rem;box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);}
#loginpage .new-filter .control-label{text-transform: uppercase;font-weight: 700;font-size: 0.7rem!important}
#loginpage .new-filter.register{width: 40%;box-shadow: 0 0 0.3rem rgba(0, 0, 0, .2)}
#loginpage .new-filter label, #loginpage .new-filter input{width: 100%}
#loginpage .new-filter input[type="text"], #loginpage .new-filter input[type="password"], #loginpage .new-filter input[type="mail"],  #loginpage .new-filter select
{border: none; border-bottom: 1px solid #4f0c5d; background: none; padding: .7rem 0; box-sizing: border-box; width: 100%}
#loginpage .new-filter .form-group{margin-bottom: 1rem}
#loginpage .new-filter .btn-link{padding: 0}
#loginpage .new-filter .help-block{font-size: .7rem; color: #888; font-style: italic; margin: 0; padding: .2rem 0 0 0;}
#loginpage .main-login-title{margin-top: 6rem}
#loginpage .new-cart{text-transform: uppercase;font-weight: 700;font-size: 0.8rem}
#loginpage .new-favorite{text-transform: uppercase;font-weight: 700;font-size: 0.8rem}
#loginpage .main-title::before{border-bottom: 0px solid #000}

.main-login-title{color: #4f0c5d; font-size: 1.5rem; text-transform: uppercase; font-weight: 700;}
.login-error-pane{}
.no-access-header-middle{display: flex;}
.no-access-header-middle svg{margin-right: 1rem;padding-top: 1rem}

/** PRODUCT DETAILS*/
#detailspage .container{margin-bottom: 6rem}
.new-primary-description h5{font-weight: normal}
.new-illustration .image-gallery-slide-wrapper{width:80%;border: 2px solid #b7c33b; box-shadow: 0.3rem 0.3rem 0.7rem rgba(0, 0, 0, .2);background: #fff}
.new-illustration img{width: 100%}
.new-details{width: 37%; float: right;margin-top: 0}
.new-details .badge-warning {background: #b7c33b; color: #fff; padding: .5rem 0.5rem; border-radius: 2rem;font-size: 0.7rem}
.new-details h5{color: #4f0c5d; font-size: 0.9rem;}
.new-details .product-details-name h5{margin:0; margin-top:1.5rem}
.new-details .jsoagger-product-quantity-add-to-cart svg{border:1px solid #4f0c5d; border-radius: 2rem; color: #a7a7a7; background: #fff; width: 1rem; height: 1rem;}
.new-second-description{padding-left: 6rem; font-style: italic; text-align: right; font-size:0.85rem}
.new-qtt{display: flex;width: 100%;vertical-align: middle;border-top: 1px solid rgba(0, 0, 0, .2); border-bottom: 1px solid rgba(0, 0, 0, .2); margin-top: 1rem; margin-bottom: 1rem;}
.new-qtt span{width: 60%;vertical-align: middle;margin-top: 1rem}
.new-qtt .jsoagger-product-quantity-add-to-cart-quantity{float: right;}
.new-illustration .jsoagger-illustration-area img{width: 100%}
.new-thumbnail{box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, .2); border: none !important; margin-bottom: .5rem}
.new-thumbnail img{width: 100%}
.new-productDetails{margin-left: 0 !important}
.product-details-price-base, .product-details-discount, .product-details-price{display: flex;color: #000;
    font-weight: 500;font-size: 2rem;font-family: Helvetica Neue,Arial,sans-serif;margin:0;}
.product-details-price-base{margin-right: 1rem}
.product-details-discount{color: red;text-decoration: line-through;}
.new-cart, .new-favorite{background: #4f0c5d; border: none; border-radius: 0; padding: 1.5rem; color: #fff; width: 100%;font-size: 0.78rem;
  display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;font-weight: 700;
  -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; box-shadow: 0 0 0.2rem rgba(0, 0, 0, .2);
  border-radius: .2rem; margin: .5rem 0;}
.new-cart svg, .new-favorite svg {font-weight: 500!important;font-size: 1rem!important}
.new-cart:hover, .new-favorite:hover{background: #becf09}
.cart-toolbar-bottom .btn{width:100%;background: #4f0c5d}
.new-favorite{background: #b7c33b}
.new-cart:disabled, .new-favorite:disabled{box-shadow: none;background:grey}
.new-cart span, .new-favorite span{padding-top: 0.5rem}
.new-prod{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
  -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 3rem;margin-top: 2rem}
.new-prod-first{width: 15%; margin-right: 1rem;}
.new-prod-last{width: 85%;}
.new-prod .main-title{font-size: 1.4rem!important;margin-top: 0!important;margin-bottom: 0!important}
.new-prod .main-title::before{border: none}
.product-quantity-input{padding: 0;max-height:2rem!important}
.sectionhead_body{padding: 60px 0 40px;margin: 0 10px;text-align:center}
.sectionhead_title{
	 margin: 0;display: inline-block;position: relative;max-width: 80%;padding: 0 16px;
    text-decoration: none;-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;font-size: 1.25rem;
    text-transform: uppercase;font-weight: 700;line-height: 120%;
    border-color: #4f0c5d;
}
.sectionhead_title:before {right: 100%;}
.sectionhead_title:after, .sectionhead_title:before {
    content: "";position: absolute;border-color: #4f0c5d;border-bottom-width: 2px;
    border-bottom-style: solid;bottom: 6px;width: 420px;
}
.sectionhead_title:after {left: 100%;}
.sectionhead_title:after, .sectionhead_title:before {content: "";position: absolute;border-color: inherit;border-bottom-width: 2px;border-bottom-style: solid;bottom: 6px;width: 420px;}
.help-area{display: flex;justify-content: center;margin-bottom: 6rem;}
.help-right-area{padding: 1rem;background: #f3f3f3;text-align: center;padding: 30px 10px 10px;height: 100%}
.help-right-area h2{text-transform: uppercase;font-family: Arial black;font-size: 1.2rem;margin-bottom: 4rem}
.help-right-area p {color: #474747;font-family: Roboto,Helvetica,sans-serif;font-size: 14px;font-weight: 400;line-height: 20px;margin-bottom: 2rem;margin-top: 2rem;}

/** BASKET*/
#basket .app-body{background:#e0e0e0;}
#basket .header-main{-moz-justify-content: center; -ms-justify-content: center;  -webkit-justify-content: center; justify-content: center; background: #000}
#basket .header-main-logo,#basket .header-main:after{background:#000}
#basket .header-main-logo{margin-top: 8px;}
#basket .container{ margin-top: 3rem; margin-bottom: 6rem;
  display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
  -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: center;
  max-width: 70%;width: 70%;min-width: 70%;
}
#basket .container section:first-child{width: 70%;}
#basket .container section:last-child{min-width:23%}
#basket .container .table-responsive, #basket .container .table-responsive table{width: 100%}
#basket .container .table-responsive table img{width: 100%}
#basket .cart-delivery-form{background:white;padding-bottom: 2rem}
#basket .summary-content{background:white; padding:2rem 0rem;margin-top:6.7rem;position:inherit;width:16rem;}
#basket .summary-content-sticky{position:fixed;}
.cart-form-content{background:white;padding:2rem;margin-top:2rem;margin-bottom: 2rem}
.summary-content .checkoutinformation{background:transparent;text-align: center;font-size: 1rem;padding-bottom: 2rem}
.summary-content li{list-style:none;}
.new-command .new-total{margin-top: 1rem}
.new-command .left{margin-right: 1rem}
.new-command .left, .new-command .right{margin-top: 6rem}
.new-step{background: #fff;position: fixed;width: 100%;border-bottom: 1px solid rgba(0, 0, 0, .2);z-index:10;}
.new-step .new-step-header{left:50%}
.new-command .main-title{font-weight: bold; margin: 0 0 2rem 0 !important; display: block; padding: 0 !important; }
.new-command .main-title span{font-weight: normal; font-size: 2rem;}
.new-command .main-title:after{display: none}
.new-command .table td{border-top: none; padding: .75rem}
.new-command .table td img{width: 100%; height: auto; border: 2px solid #b7c33b; box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, .2)}
.new-command .table td .product-name,.new-command .table td .product-item-price, .new-command h5.product-label{
    font-weight: 700; font-size: 1.25rem; color: #4f0c5d}
.new-command .table td .jsoagger-product-quantity-add-to-cart{float: right;}
.new-command .table td .jsoagger-product-quantity-add-to-cart button{background: none}
.new-command .jsoagger-product-quantity-add-to-cart svg{border: 1px solid #4f0c5d; border-radius: 2rem; color: #a7a7a7; background: #fff; width: 1rem; height: 1rem;}
.new-command .product-item-name{font-size: 0.9rem}
.cart-table-item-right button{color: #b7c33b; background: #fff; border: none; border-radius: 10rem; box-shadow: 0 0 0.3rem rgba(0, 0, 0, .2); padding: 0rem; font-size: 1rem; width: 2rem; height: 2rem; display: inline-block; text-align: center;}
.shipping-choice small i{color: #b7c33b}
.react-datepicker-wrapper:hover{cursor: pointer;}
.cart-default-stepper {left: 50%; width: 300px; margin:30px auto; box-sizing: border-box;}
.cart-default-stepper:before {top: 15px; left: 10px; position: absolute; z-index: 0; top: 12px; right: 0; left: 0; height: 1px; background: #d8d8d8; content: "";}
.cart-default-stepper .active{background: #4f0c5d}
.cart-default-stepper li{width: 30px;height: 30px;z-index: 1;display: inline-block;background: #d8d8d8;border-radius: 100%;color: #fff;font-size: 0.8rem;text-align: center;line-height: 30px;font-weight: 700;}
.cart-default-stepper a{color: #fff;text-decoration: none;}
.cart-default-stepper .item-1 {margin-left: -70px;position: relative;}
.cart-default-stepper .item-2 {margin-left: 125px;position: relative;}
.cart-default-stepper .item-3 {margin-left: 120px;position: absolute;}
.cart-default-stepper span {position: absolute;top: 0;left: 50%;display: block;width: 150px;padding-top: 30px;margin-left: -75px;color: #989898;font-size: 0.7rem;text-transform: uppercase;}
.cart-table-item-price {justify-content: space-between;font-weight: 500;font-size: 0.9rem;text-align: left;margin-right: 2rem}
.cart-toolbar-bottom{margin-top:2rem}
.cart-toolbar-bottom span{margin-top:6px;}
.cart-toolbar-bottom .btn:hover{width:100%;background: #4f0c5d}
.cart-empty-pane{height:26rem;text-align: center;display:table;width: 100%;background: #fff}
.cart-empty-pane span{display:table-cell; vertical-align:middle;text-align:center;width: 100%}
.shipping-choice{background-color: white;margin-bottom:10px;vertical-align: middle;padding: 1rem;}
.shipping-choice:hover{cursor: pointer;}
.shipping-choice .radio-input{;display: inline-block;width: 25px;height: 25px;margin-right: 10px;margin-bottom: 0;vertical-align: middle;}
.shipping-choice span{padding-left: 30px;margin-right: 20px;color: #232323;cursor: pointer;font-size: 1rem;font-weight: 700;}
.shipping-choice-price {color: #d4180e;font-weight:700;float: right;font-size: 0.9rem}
.shipping-delivery-info{padding-left:4.3rem;display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}
.shipping-delivery-info span{font-weight: normal;font-size: 0.8rem}
.shipping-delivery-info small{margin-top: 0.6rem;}
.account-creation-choices{display: flex;flex-direction: row;width: 100%}
.account-creation-choices .shipping-choice{flex-grow: 3}
.cart-confirmation{margin-top: 8rem;margin-bottom: 2rem;}
.cart-confirmation .alert{background: white;padding-top: 2rem}
.cart-confirmation .order-confirmation-ref{margin-top: 0.7rem;margin-bottom: 2rem}
.order-confirmation-message{font-size: 0.9rem}
.order-confirmation-order-infos{display: flex;justify-content: space-between;font-size: 0.9rem}
.order-confirmation-order-infos div{margin-right: 1rem}
.partial-products-in-table thead th{max-height:16px;height:16px;padding-bottom:4px;padding-top: 4px;font-size: 0.7rem}
.partial-products-in-table td{text-align: center}
.order-confirmation-products-infos{margin-top: 2rem}
.order-confirmation-toolbar{margin-top: 2rem;justify-content: center!important;border-top:1px dotted #666;padding-top: 2rem;text-align: center}
.order-confirmation-toolbar button{padding:1rem;background: #4f0c5d;color: #fff;font-weight: 700;font-size: 0.7rem;border-radius: 10px;margin-right: 1rem;}

.shopping-cart-summary-content{padding:0.5rem;margin-top:1rem}
.shopping-cart-summary-content span{font-size: 0.9rem;}
.shopping-cart-summary-content .item{margin-bottom:0.5rem}
.shopping-cart-summary-content .item-total{border-top: 1px solid #000;padding-top: 1rem}
.shopping-cart-summary-content .item-total span{font-weight: 700;font-size: 1rem;}
.shopping-cart-summary-header{text-transform: uppercase;font-size:0.8rem}
.shopping-cart-total-price{text-transform: uppercase;font-weight:bold;font-size:1rem;}
.cart-payment-infos li{font-size:0.7rem;margin-bottom: 1rem;}
.cart-delivery-form-title{padding-top:2rem;padding-bottom:1rem}
.shopping-cart-section-title{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
		font-family: Georgia,Times New Roman,Times,serif;
    font-style: italic;
		color: #1d1d1d;
    font-size: 1.6rem;
    line-height: 27px;
    text-align: center;
		margin-top:2rem;
		margin-bottom: 2rem;
}
.shopping-cart-section-title:not(.subsection):after {content: "";height: 3px;width: 20px;background-color: #bd1343;display: block;margin: 15px auto 0;}
.shopping-cart-section-title-subsection {font-size: 0.8rem;font-weight: bold;text-transform: uppercase;position: relative;padding: 4px 20px;margin: 40px 0 15px;}
.shopping-cart-section-title-subsection:before {content: "";background-color: #bd1343;border-left: 4px solid #bd1343;height: 20px;width: 1px;vertical-align: sub;display: block;position: absolute;top: 2px;left: 0;}
.cart-delivery-form-content{padding: 0 2rem 0 2rem;}
.cart-main-menu{background:#fff;margin-top:0px!important}
.shipping-choice-modes{margin-top:32px}
.shopping-cart-square-stepper{display: flex;flex-direction: row;margin-bottom:0px;margin-left:auto;margin-right:auto;border:none;
  justify-content: center;text-align: center;width: 100%;background:white;padding:0.5rem 0 0.5rem 0;
}
.shopping-square-header-step{padding: 0rem 2rem 0.5rem 2rem;text-align:center;margin-top: 1rem}
.shopping-square-header-step a {color:#cacacb;text-decoration:none;font-size:20px;margin-bottom:1em;line-height:40px;font-weight:bold}
.shopping-square-header-step-selected a {color:#fff;text-decoration:none;}
.shopping-square-header-step-selected {background:#0058a3;border-radius: 10px}
.shopping-square-header-step-selected,
.shopping-square-header-step-label {color:#cacaca;font-size:0.8em;text-transform:upperCase;font-weight:600;line-height: 20px;}
.shopping-square-header-step-label-selected{color:#fff}
.shopping-square-header-step-index{font-size: 1rem!important;font-weight: bold}

.shopping-cart-agreement{padding: 20px!important;border: 1px solid #d3d3d3;border-radius: 2px;background: none!important;margin:22px 0px 22px 0px;}
.shopping-cart-total-ttc{padding: 2em !important;border: 1px solid #bd1343;border-radius: 2px;background: none!important;margin:22px 0px 22px 0px;color: #bd1343;font-weight:bold;}
.checkoutinformation{margin-left:-30px}
.shopping-cart-products{margin-bottom:42px}
.cart-table{background:white}
.cart-table thead{visibility: collapse;}
.payment-choice, .payment-choice-last{margin-right:1rem;right:1rem;text-align: center}
.payment-choice{border-right:1px solid #dddddd}
.payment-choice-last{border-right:none}
.payment-choice{text-align: center}
.payment-choice:hover{cursor: pointer;}
.shopping-cart-error-pane{border: 1px solid #bd1343; border-left: 1rem solid #bd1343;border-right: 1rem solid #bd1343; padding-top: 2rem;padding-bottom: 2rem;
		background:white;margin-bottom: 1rem;margin-top: 1rem;color: #bd1343;text-align: center;
}
.shopping-cart-error-pane small{font-weight: 100;font-size: 0.8rem}
.datatable-paiement{margin-top:1rem}
.datatable-paiement th{text-transform: uppercase;font-size: 0.7em}

/** FOOTER*/
.app-footer{}
.fixed-bottom{position: fixed; bottom:0%;width:100%; display: flex;justify-content: space-between;vertical-align: baseline;padding:0.4rem 0rem 0.4rem 0rem;}
.fixed-bottom .navbar-nav{vertical-align: baseline;padding-right: 1rem;padding-left: 1rem}
.pre-footer{background:#2c2c2c; border-top: 1px solid rgba(0, 0, 0, .2);border-bottom: 1px solid rgba(0, 0, 0, .1);}
.pre-footer ul{
    display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
    -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;
    text-align: center; padding: 0.5rem 4rem 0.5rem 4rem; list-style: none; color: #4f0c5d;
}
.pre-footer svg{color: #fff; font-size: 1.8rem!important;font-weight:300;margin-bottom: 1rem}
.pre-footer .checkoutinformation b{font-size: 0.7rem;color:#fff;font-weight:700;text-transform: uppercase;}
.pre-footer .checkoutinformation span{color:#666;font-size: 0.7rem;margin-top: 2rem!important;}
.shop-footer{background:#1d1d1d;display: flex;flex-direction: column;color:#666}
.footer-content-pages{display: flex;flex-direction: row;}
.footer-content-pages{padding:2rem;justify-content: center;}
.footer-content-pages .bd-highlight{margin-left: 4rem;margin-right: 8rem}
.news-letter h4, .footer-content-pages h4, .main-footer-social-links h4{color: #666;font-weight: bold;text-transform: uppercase;font-size: 0.9rem}
.footer-content-pages a{text-decoration: none;font-size: 0.9rem;color: #666}
.footer-address{text-align: left;;justify-content: left;margin-left: 4rem}
.footer-address p{font-size: .9rem}
.footer-address div{margin-bottom: 1.3rem;}
.footer-email, .footer-phone {display: flex;margin-bottom: 0.1rem!important}
.footer-email a,.footer-phone a{margin-top: 0.5rem;text-decoration: underline;margin-left: 0.3rem;color: white;font-size: 0.86rem;cursor: pointer;}
.news-letter{padding: 1rem 0rem 3rem 0rem;display: flex;flex-direction: column;justify-content: center;text-align: center;border-top: 1px solid #000;border-bottom: 1px solid #000;}
.news-letter input{width:32rem;margin-left: 2rem;margin-top: 0.3rem;}
.news-letter-form div{justify-content: center!important;}
.news-letter-btn{border-radius: 0px;height:90%}
.floating-scroll-button:hover{box-shadow: 2px 2px 3px #999;}
.floating-scroll-button{position:fixed;width:60px;height:60px;bottom:65px;right:40px;
	background-color:var(--floating-scroll-button-color);color:#FFF;text-align:center;box-shadow: none;
}
.main-footer-legal-links{text-align:center;background:#1d1d1d;padding-top:0.5rem;padding-bottom: 0.5rem;border-top: 1px solid #000}
.main-footer-legal-links a{text-align:center;color:#666;font-weight:bold}
.main-footer-legal-links ul{margin:0px;padding:8px;color:#666;font-size: 0.7rem}

.main-footer-social-links{text-align:center;border-top: 1px solid #000}
.legal-list-links{margin-top: 1.875rem;border-top:.0625rem solid #dfdfdf;padding-top:2rem;font-size:1.1rem}
.horizontal-list-item{margin: 0 0 0 1.25rem;display:inline-block;}
.horizontal-list-item a{text-decoration: none;text-transform: uppercase;font-size: 0.8rem;color:#666;font-weight:bold}

.main-footer-parent{background:#f5f5f5; padding: 5rem; color: #969696;font-size:16px}
.main-footer{background: #969696; padding: 1rem; color: #fff;
  display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
  -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.main-footer a{color: #fff}
.main-footer-list{margin-bottom: 1rem;list-style: none;padding-inline-start: 0px;margin-top:1.5rem;}
.main-footer-list-item{margin-bottom: 1rem;list-style: none;color: #484848;font-size:1.2rem}
.main-footer-list .nav-link{padding:0;}
.checkoutinformation-paymenticons{color:#666;margin-top:12px}

/**HOME PAGE SECTION*/
#page-top .app-body{margin-bottom: 3rem}
.homepage-title-section{margin-top: 4rem;margin-bottom: 2rem;text-align: left;margin-left: 1rem}
.homepage-title-section-title{
    color: #000;
    display: inline-block;
    font-size: 28px;
    font-weight: 500;
    font-family: Arial Black,sans-serif;
    margin-bottom: 0;
    position: relative;
    text-transform: uppercase;
}
.homepage-title-section-title div{text-align: left;font-weight: 100;font-family: SANS-SERIF;}

/**POPOVER*/
.header-menu-title-wrapper{display: flex;}
.header-menu-title-wrapper .list-group-item{padding-left: 0rem;}
.header-menu-title{background: transparent;margin-bottom: 2.5rem;}
.header-menu-title span{font-family:Arial black,sans-serif;text-transform: uppercase;;font-size: 1rem;font-weight:bold;}
.header-menu-title:after{border-top: 5px solid #000;bottom: 534px;content: "";
    left: 32px;position: absolute;width: 52px;
}
.jsoagger-header-menu-item{padding: 0;margin-right: 1rem;border:none}
.jsoagger-header-menu-item:hover{background: #e9edc4;}
.jsoagger-header-menu-item .header-category-link{height: 2rem;}
.jsoagger-header-menu-item .header-category-link:hover{}
.jsoagger-header-menu-item button{text-transform: uppercase;font-size: 0.8rem;background: transparent;font-weight:normal;outline: none;padding: 0;margin-bottom: .4rem}
.header-menu-content-img-bloc img{width:100%}


/** INTEGRATION TO REACT COMPS*/
.popover .toolbar{display: flex;margin-top: 2rem;border-top:1px solid #dedede;padding-top: 1rem;justify-content: center;}
.popover .toolbar button, .listgroup-toolbar button{padding:0.5rem 1.5rem;margin-right: 1rem;text-transform: uppercase;font-weight: 700}
.modal-footer{display: flex;margin-top:1rem;border-top:1px solid #dedede;justify-content: center;}
.modal-footer button{padding:.8rem .8rem;margin-right: 1rem;text-transform: uppercase;font-weight: 700}
.jsoagger-menu-popover {padding:2rem;max-width: 600px;margin-top: 0rem;box-shadow: 0 0 1rem rgba(0, 0, 0, .4);border: none}
.popup-filter{padding: 0.5rem;}
.popup-filter .toolbar{padding: 0.5rem;padding-top: 1rem;justify-content: space-between;}
.listgroup-toolbar{padding: 0.5rem;padding-top: 1rem;display: flex;justify-content: center;}

fieldset {
    border-width: 0;
    border-color: transparent;
    border-image: initial;
    z-index:2002;
}
.form-error{border: 1px solid red;border-left: 4px solid red;margin-bottom: 1rem;padding:0.4rem}
.form-error:empty {display: none;}
.required-token{margin-left:0.2rem;font-size: 1rem!important}
.form-error{color: red;font-size:0.9rem;font-weight:bold}
.form-check-label{font-size: 0.9rem}
.form-check{display: flex;justify-content: flex-start;}
.form-check .form-check-input{min-width:20px;max-width: 20px;width:20px}
.form-control{border-radius:0;line-height: inherit;height: inherit;font-weight: inherit;font-size: inherit}
.form-control:focus{outline: none}
label{margin-bottom: 0}
#loginpage .new-filter input[type="text"], #loginpage .new-filter input[type="password"], #loginpage .new-filter input[type="mail"],  #loginpage .new-filter select
{padding: .5rem 0!important;}
.container{max-width: 82%}
.main-footer{background: #969696; padding: 1rem; color: #fff;}
.main-footer a{color: #fff}
.jsoagger-form-footer-actions{display: flex;margin-top: 3rem;justify-content: flex-end;}
.jsoagger-form-footer-actions .btn-md{width:160px;}
.jsoagger-form-footer-actions button{padding: 0.8rem 1.8rem;margin-right: 1rem;text-transform: uppercase;color: #fff;
    background-color: #000;
    border-color: #000;border-width: 1px;
    border-style: solid;
    border-radius: 0;
    font-family: Helvetica Neue,Helvetica,sans-serif;
    font-weight: 700;
    letter-spacing: .88px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;}
