html, body {
    overflow: auto;
}

body{
font-family:"Open Sans", sans-serif;
font-size:13px;
color:#333;

--link-color:#4f0c5d;
--accent-color:#b7c33b;

--header-main-background:var(--accent-color);
--header-main-link-color:#fff;

--main-menu-background:#fff;
--main-menu-link-color:#fff;

--add-to-cart-background:var(--link-color);
--add-to-favorite-background:var(--accent-color);

--border-color: #e0e0e0;
background: transparent;
}

.border{border-widh:1px;}

.product-card{min-width:22%;max-width:22%;}
.product-card img {max-height:200px;}
.page-root{margin:auto;justify-content:center !important;}
.page-section-parent{}
.page-section{max-width:1300px;min-with:240px;padding-top:12px !important;margin:auto !important;}

.more-product-parent{margin-top:80px}
.more-product {
	border:none;
	box-shadow:0 0 0.1rem rgba(0, 0, 0, .15);
	border-radius:50px;
	color:var(--link-color);
	padding:1rem 2rem;
	min-width:20rem;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	-ms-flex-pack:distribute;
	justify-content:space-around;
	text-transform: uppercase;
	background:white;
}
.more-product:hover{box-shadow:0 0 0.3rem rgba(0, 0, 0, .55);}
.product-deck-button {
  justify-content: center;
  margin:auto;
  background: transparent;
  z-index:2000;
}
.product-deck-left-button,
.product-deck-right-button{
    top: 50%;
    z-index:2000;
    border: 0;
    width: 32px;
  	height: 59px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
    cursor: pointer;
    background-color: #FFF;
    webkit-transform: translateX(-50%);
    -webkit-transition: background-color .5s;
}
.product-deck-left-button{padding: 8px 12px 0px 0px}
.product-deck-right-button{padding: 8px 12px 0px 0px}

.main-header-account-name:after{
	margin-top:4px !important;
}

.sectionhead_body{
	padding: 60px 0 40px;
    margin: 0 10px;
    text-align:center}
.sectionhead_title{
	margin: 0;
    display: inline-block;
    position: relative;
    max-width: 60%;
    padding: 0 16px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 120%;
    border-color: var(--border-color);
}
.sectionhead_title:before {right: 100%;}
sectionhead_title:after, .sectionhead_title:before {
    content: "";
    position: absolute;
    border-color: inherit;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    bottom: 6px;
    width: 420px;
}
.sectionhead_title:after {left: 100%;}
.sectionhead_title:after, .sectionhead_title:before {
    content: "";
    position: absolute;
    border-color: inherit;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    bottom: 6px;
    width: 420px;
}

.register-store h5,
.login-label{color:#00185e}
.register-store .lead-small{font-size:1em;line-height:2.2em}
.login-container{background:#fff !important}

/* ------------------- HEADER ------------------- ------------------- -------------------------------
* ------------------- ------------------- ------------------- ------------------- ------------------- 
------------------- ------------------- ------------------- --------------------- ------------------- */
.all-header{/*box-shadow:0 0 0.2rem rgba(0, 0, 0, .4);*/padding-bottom:2px}
.header-main{
	z-index:1040;
	padding:0 0px 0 0px;
	background-color:var(--header-main-background) !important;
	height:4rem;
	-webkit-box-pack:justify;-ms-flex-pack:justify;
	justify-content:space-between;
	height:75px;
}
.header-main:after{width:50%;height:4rem;z-index:-1;}
.header-main-logo{background:transaprent;padding:0rem;position:relative;}
.header-main{background-color:var(--accent-color) !important;}
.header-main-internal{max-width:1300px;left:0;
	height:55px;align-items:center;top:10px;
	margin-left:auto !important; margin-right:auto !important}

.top-search{}
.top-search svg{color:var(--link-color);margin:auto;margin-left:-2rem}
.search-icon{margin-left:-4rem !important;}
.search-result{
	top:65px;
	width: 100%;
	background: #e0e0e0; 
	position: absolute; 
	max-height:600px;
	z-index:100;
}
.search-result-no-content{maring-top:3em;background:white}
.search-input:focus {border:0px solid white !important;outline:none;}
.top-search input{
	font-size:14px;
	padding:0.4rem 2rem 0.4rem 1rem;
	border:none;
	background-color:white;
	width:100% !important;
	height:55px;
	border-radius:5px
}

.mobile-link{padding:0!important;margin:0!important;}
.mobile-link button{
	height:4rem;
	margin:0 !important;
	border-radius:0;
	background-color:var(--link-color);
	border-color:var(--link-color);
	padding:1rem 1.5rem;
}

.top-link{
	margin-left:1rem;
	-webkit-box-align:center;
	-webkit-flex-align:center;
	-ms-flex-align:center;
	-webkit-align-items:center;
	-ms-grid-row-align:center;
	align-items:center;
	height:100%;
}
.top-link a{
	color:var(--header-main-link-color);
	position:relative;
	margin:0 !important;
	transition:.3s all ease-in;
	color:#000000;
	font-size:1em;
	text-decoration:none;
}
.top-link a:hover{color:var(--link-color)}
.top-link a:after{
	display:block;
	position:absolute;
	content:'';
	width:.3rem;
	height:.3rem;
	background:#fff;
	border-radius:1rem;
	left:0;
	top:0;
	bottom:0;
	margin:auto;
	text-decoration:none;
}
.top-link a:first-child:after, .top-link *:nth-child(5):after{display:none;}
.top-link a .badge{
	position:absolute;
	background:#980ab6;
	color:var(--header-main-link-color);
	text-align:center;
	width:1.5rem;
	height:1.5rem;
	display:inline-block;
	border-radius:2rem;
	box-shadow:0 0.1rem 0.2rem rgba(0, 0, 0, .4);
	right:0rem;
	top:1rem;
	width:2rem;
	height:2rem;
	padding-top:.5rem;
}
.top-link a h5{margin-bottom:0}
.top-link *:nth-child(4), .top-link *:nth-child(5){justify-self:flex-end;}
.top-link .action button i, .top-link .action button span{display:inline !important}
.top-link .action button{
	color:var(--header-main-link-color);
	height:4rem;
	border-radius:0;
	transition:.3s all ease-in
}
.top-link .action button:hover{background-color:var(--link-color);text-decoration:none}

.no-access-main-menu{box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);border-bottom:2px solid --border-color}
.header-inner{padding-bottom:0px;}
.main-menu{
	top:4rem !important;
	z-index:1070;
	background:var(--main-menu-background);
	width:100%;
	-webkit-box-shadow: 0 0 4px rgba(128,128,128,.2);
	box-shadow: 0 0 4px rgba(128,128,128,.2);
	height:4rem;
}
.main-menu button{
	padding:.5rem 1rem;
	color:var(--link-color);
	font-weight:bold;
	transition:.3s all ease-in;
	position:relative;
	background:var(--main-menu-background);
}
.main-menu button:hover{color:var(--accent-color)}
.main-menu button:after{
	width:2.5rem;
	height:2.5rem;
	background:var(--accent-color);
	transform:scaleX(1.5);
	transition:.3s all ease-in;
	display:block;
	position:absolute;
	content:'';
	right:0;
	bottom:0rem;
	margin:auto;
	left:0rem;
	z-index:-1;
	border-radius:10rem;
}
.main-menu button:hover:after{bottom:-1rem}
.header-category-button{cursor:pointer;font-weight:600;font-size:1.1em;color:var(--link-color) !important;padding-top:12px}
.header-category-link{color:var(--link-color) !important;cursor:pointer}
.header-selected-category{color:var(--accent-color);border-bottom: 4px solid var(--link-color);outline:none;}
.header-selected-category:after{bottom:-1rem}


/* ------------------- BODY ------------------- ------------------- -------------------------------
* ------------------- ------------------- ------------------- ------------------- ------------------- 
------------------- ------------------- ------------------- --------------------- ------------------- */
.main-slider-main-product{background-color:#fff;}
.main-product{position:relative;
	margin-top:20px;
	margin-bottom:80px;
	min-height:600px;
	min-width:100%;	
}
.main-product img{width:100% !important;height:auto!important;}
.main-product h2{
	position:absolute;
	top:0;
	bottom:0;
	left:5rem;
	color:#fff;
	font-size:2.5rem;
	z-index:9;
	margin:auto;
	width:100%;
	height:10rem;
	text-align:left;
	padding-top:2.5rem;
	padding-left:2rem
}
.main-product-title:after{
	z-index:-1;
	display:block;
	position:absolute;
	content:'';
	width:10rem;
	height:10rem;
	border-radius:200rem;
	top:0;
	left:0;
	background:-webkit-linear-gradient(top,var(--link-color),#320f39);
	background:-o-linear-gradient(bottom,var(--link-color),#320f39);
	background:-moz-linear-gradient(bottom,var(--link-color),#320f39);
	background:linear-gradient(to bottom, var(--link-color), #320f39);
}
.main-product .main-product-title small{
	color:var(--accent-color);
	display:inline-block;
	background:rgba(0, 0, 0, .4);
	padding:.5rem 2rem;
	font-size:1.5rem;
	margin-left:2rem;}
.main-produt-thumb .thumb-info{height:auto;}

/** Main offers*/
.main-slider-offers-product{background:#fff}
.main-slider-offers{padding: 80px 0 80px 0}
.main-offers{padding: 20px;}
.main-offers-title{text-align: center; margin-bottom:20px}
.main-offers-thumb{max-height:400px}
.main-offers .card{min-width:48%;max-width:48%;min-height:400px;max-height:400px;margin: 1rem 1rem 0 0;border:1px solid #e6e6e6}
.main-offers img{width:100%;height:100%;overflow:hidden !important;}
.main-offers .thumb-info{height:420px !important;}
.main-offers-body{padding: 22px 22px 0px;}
.main-offers-item-title{
	color:#1d1d1d;
	font-family: Source Sans Pro,sans-serif!important;
    font-style: normal!important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px!important;
	text-align:left;
	padding: 0px;
}
.main-offers-footer{margin-top:12px;margin-bottom:8px}

/** top products*/
.main-slider-top-products{background-color:var(--top-products-background);padding-top:80px;padding-bottom:80px}
.top-products .thumb-info{min-height:320px !important;}
.top-products .full-product-card{box-shadow:0 0.0 0.13rem rgba(0, 0, 0, .1);border:none;}
.top-products .full-product-card:hover{box-shadow:0 0 0.93rem rgba(60, 60, 80, .1);}
.top-products .product-button .favoris-button svg{color:var(--accent-color)}
.top-products .full-product-card{background:white}

/** products card/deck */
.product-item-name{padding-left:20px;margin-bottom:12px;font-size: 1.1em;}
.product-item-name a,.product-item-name btn{text-align:left}
.product-item-description{text-align:left;padding-left:20px}
.product-item-rating{margin-top:12px;text-align:left}
.product-item-price{padding-left:22px;font-size:1.1em}
.product-item-name .product-price{font-size: 1.1em !important}
.product-price-base{margin-right:20px;font-weight:bold;font-size:1.1em;color:red;}
.product-price-discount{text-decoration: line-through;font-size:1.1em}
.product-button{height:50px !important;margin-left:10px;margin-right:10px}
.product-category-name{
    font-weight: 700;
    font-stretch: condensed;
    font-style: normal;
    line-height: 120%;
    font-weight: bold;
    color: #2f3a44;
    font-size: 32px;
}
.product-card{min-width:22%;max-width:24%;}
.product-big-card{min-width:45% !important; max-width:47% !important;}
.product-by-category .product-card{
	margin: 10px;
	min-width:22%;
	max-width:25%;
	padding-bottom:40px;
	border:none;
	box-shadow:0 0 0.13rem rgba(0, 0, 0, .2);
	background:var(--light);
}
.product-by-category .product-button{height:50px !important;margin-left:10px;}
.product-by-category .product-button .favoris-button svg{color:var(--accent-color) !important;}
.product-by-category .product-card:hover{border-radius:0;box-shadow:0 0 0.63rem rgba(0, 0, 0, .2);}
.product-by-category-title{margin:2em}
.product-by-category-filters{margin: 1em 0 1em 0}
.vente-flash-title{margin-top:12px;padding-left:12px}
.product-coming-footer{padding:8px;}
.product-coming-date{padding:8px;color:red; font-weight:600;}

.product-big-card{border: 0.5px solid #e6e6e6;margin-bottom:1em !important;margin-right:1em!important;}
.product-big-card-thumb{}
.product-big-card-body{padding: 22px 22px 0px;}
.product-big-card-title{
	color:#1d1d1d;
	font-family: Source Sans Pro,sans-serif!important;
    font-style: normal!important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px!important;
}
.product-big-card-footer{margin-top:12px;margin-bottom:8px}
.product-big-card-date{color:#bd1343}
.product-big-card-footer-action{position: absolute;
    right: 5px;
    float: none;
    display: inline-block;
    width: auto;
    background: none repeat scroll 0 0;
    font-size: 14px;
    padding: 0 15px;
    bottom: 25px;
    background: rgba(189,19,67,.8);
	text-decoration:none
}
.product-big-card-footer-action .text{ color:white;padding:12px;text-decoration:none}

/** new crumb*/
.new-crumb{padding-right:1.5rem;border-bottom:2px dotted #E3E4E5;color:#969696;font-size:.9rem}
.new-crumb nav .breadcrumb{background:none;margin-bottom:0;padding:.2rem;}
.new-crumb nav i{}
.new-crumb nav .breadcrumb a{color:#969696}
.new-crumb nav{margin-top:0 !important}
.breadcrumb-item + .breadcrumb-item::before{color:#861c9c;content:"";}

/** Favoris */
.favoris-container{background:var(--primary-client-background) !important}
.favoris-thumb .thumb-info{min-height:120px !important;max-height:120px !important;min-width:120px !important;}
.favoris-title{font-size:1.6rem;margin: 40px 0 40px 0;}
.empty-favoris{background-color:white; padding:80px;}
.favoris-tables{background-color:transparent;padding-left:0}
.favoris-table-item{display: flex;flex-direction: row;background:white;
	margin-bottom:2em;padding:0.5em;border-left:4px solid var(--primary)
}
.favoris-table-thumb{margin-right:2em;}
.favoris-table-summary{flex-grow: 8;}
.favoris-item-actions{margin-top: 2em;float: right;}
.favoris-table-item-name{color:var(--link-color);font-weight:600}

/** Profile */
.profile-container{background:var(--primary-client-background) !important}
.profile-container .tab-content{background: var(--light);padding:1.2em}
.profile-container .tab-content .tab-pane{}

/**roles*/
.user-role{display: flex;flex-direction: row;margin: 0px;cursor: pointer;font-size: 15px;line-height: 18px;padding: 8px 0 8px 0px;}
.role-name{flex-grow: 8; background: #e0e0e0;padding:14px 0 0 12px}
.role-action{flex-grow: 2; background: transparent;margin:auto !important}

/** Orders */
.order-details-container{background:var(--primary-client-background) !important}
.orders-container{background:var(--primary-client-background) !important}
.orders-title{font-size:1.6rem;margin: 40px 0 30px 0;}
.empty-orders{background-color:white; padding:80px;}
.order-summary{background:white; padding:1.4em;border-left:4px solid var(--primary);margin-bottom:1.4em}
.order-details-item{background:white;margin-top:1em;margin-bottom:10px;padding:0.5em 2em}
.orders-state-selector{margin-bottom:10px}
.order-summary-root{ display: flex;flex-direction: row;}
.order-summary-right-content,
.order-summary-center-content{}
.order-summary-left-content{flex-grow: 8;}
.order-summary-center-content{flex-grow: 1;
	border-right:1px solid #e0e0e0;
	margin-top:.1.6em;
	opacity:0.7;
	text-align: right; 
	margin-right: 30px;
	padding-right:20px;
	padding-top:2em;
}
.order-details-pricing-title{padding:0.4em 2em 0.4em 2em;margin-right:2em;font-size:1.2em;font-weight:bold;margin-bottom:0.4em;background:#bef1ff;text-align:center}
.order-details-pricing-value{margin-right:2em;font-size:1.2em;font-weight:bold;margin-bottom:0.4em}

/** carousel */
.rec-pagination{margin-top:30px !important;}
.rec-item-wrapper{padding:10px !important}

.new-filter{
	background:#fafafa;
	margin-bottom:0rem !important;
	color:var(--link-color);
	padding:.5rem 1rem 0 1rem;
	width:100%;
	box-sizing:border-box;
}
.new-filter table{
	margin-left:-6rem;
	border-bottom:3px solid var(--link-color);
}
.new-filter .btn-link{
	color:var(--link-color)
}
.new-filter .btn-link svg{
	border:1px solid var(--link-color);
	border-radius:2rem;
	color:#a7a7a7;
	background:#fff;
	width:1rem;
	height:1rem;
}
.new-details{
	float:right;
}
.new-details .badge-warning {
	background:var(--accent-color);
	color:#fff;
	padding:.5rem 1rem;
	border-radius:2rem;
	margin:1rem 0 1rem -4rem;
}
.new-details h5{
	color:var(--link-color)
}
.new-details .jsoagger-product-details-description__1 h5{
	font-size:.9rem;
	font-weight:normal;
	color:#212529;
}
.new-details .jsoagger-product-details-price__1{
	/*background:rgba(0, 0, 0, .4);*/
	color:#333;
	border-radius:20rem;
	width:6rem;
	height:6rem;
	font-weight:bold;
	font-size:1.4rem;
	text-align:right;
	margin:0 0 0 -2.5rem;
	position:absolute;
	z-index:-1;
	padding-top:1.6rem;
}
.new-details .jsoagger-product-quantity-add-to-cart svg{
	border:1px solid var(--link-color);
	border-radius:2rem;
	color:#a7a7a7;
	background:#fff;
	width:1rem;
	height:1rem;
}
.new-details .jsoagger-product-details-price__1 .float-left, .new-details .jsoagger-product-details-price__1 p{
	width:100%;
	text-align:center;
	top:60%;
	margin:0;padding:0;
}
.new-second-description{
	padding-left:6rem;
	font-style:italic;
	text-align:right;
}
.new-qtt{
	border-top:1px solid rgba(0, 0, 0, .2);
	border-bottom:1px solid rgba(0, 0, 0, .2);
}
.new-thumbnail{
	box-shadow:0.1rem 0.1rem 0.3rem rgba(0, 0, 0, .2);
	border:none !important;
	margin-bottom:.5rem
}
.new-thumbnail img{
	width:100%
}
.new-productDetails{
	margin-left:0 !important
}
.new-cart, .new-favorite{
	background:var(--link-color);
	border:none;
	border-radius:0;
	padding:1.2rem;
	color:#fff
}
.new-favorite{
	background:var(--accent-color)
}
.card-deck-new{
	flex-wrap:wrap;
	-moz-justify-content:center;
	-ms-justify-content:center;
	-webkit-justify-content:center;
	justify-content:center;
	margin-bottom:40px;
}

/** footer*/
.pre-footer{padding-top:2em;height:180px;background:var(--pre-footer-background);
	border-top:1px solid var(--pre-footer-border);border-bottom:1px solid var(--pre-footer-border)}

.main-footer-legal-links{text-align:center;background:var(--footer-bottom-background-color);}
.legal-list-links{margin-top:1.875rem;border-top:.0625rem solid var(--footer-border-color);padding-top:2rem;font-size:1.1rem}
.horizontal-list-item{margin:0 0 0 1.25rem;display:inline-block;color: var(--bottom-link-font-color)}
.horizontal-list-item a{font-size:1em}

.main-footer-parent{background:var(--footer-background-color);color:var(--footer-font-color);padding:4em 4em;font-size:1.1em;}
.main-footer{background:var(--footer-background-color);padding:1rem;color:#fff;}
.main-footer-list{margin-bottom:1em;list-style:none;padding-inline-start:0px;margin-top:2.5em;}
.main-footer-list-item{margin-bottom:1em;list-style:none;}
.main-footer-list .nav-link{padding:0; color:var(--footer-links-font-color)}
.main-footer-parent .h4{color:var(--footer-title-font-color);font-size:0.8em !important}

.main-footer-social-links{text-align:center;border-top:.0625rem solid var(--footer-border-color);margin-top:40px;padding-top:3rem !important;}
.main-footer-social-links h4{padding-bottom:2rem}
.main-footer-legal-links ul{margin:0px;padding:8px}

.news-letter{border-top:.0625rem solid var(--footer-border-color);margin-top:30px;padding:1.4em 0 0 0 }
.news-letter:hover{opacity:1}
.news-letter-form{max-width:800px;margin-bottom:2em}
.news-letter-title{text-align:center;padding-bottom:1em;}

.shop-footer{}
.footer-address{color:var(--footer-text-font-color);}
.footer-email{margin-top:24px}
.footer-phone{margin-top:20px}


/* shoppingcart.css */
.cart-main-menu{margin-top:0.5em !important;margin-bottom:1em}
.header__breadcrumb-basket{}
.cart-header{background:white !important; padding-left:4rem; padding-right:4rem}
.shopping-cart-header-steps{
	border: 1px solid #bef1ff;
    margin: 0 0 30px 0;
    position: relative;	
    background:white;
}
.shopping-cart-header-step{padding: 0.3em 0.3em 1em 0.4em;text-align:center;}
.shopping-cart-header-step a {color:#cacacb;text-decoration:none;font-size:20px;margin-bottom:1em;line-height:40px;font-weight:bold}
.shopping-cart-header-step-selected a {color:#fff;text-decoration:none;}
.shopping-cart-header-step-selected {background:#0058a3;}
.shopping-cart-header-label-selected,
.shopping-cart-header-label {
	color:#cacaca;
	font-size:1.1em;
	text-transform:upperCase;
	font-weight:600;
	line-height: 20px;
}
.shopping-cart-header-label-selected{color:#fff}
.new-command{margin-top:11rem;}
.new-command .main-title{
	margin:0 0 2rem 0 !important;
	display:block;
	padding:0 !important;
}
.new-command .main-title span{font-weight:normal;}
.new-command .table td{	border-top:none}
.new-command .table td img{
	width:100%;
	height:auto;
	border:2px solid var(--accent-color);
	box-shadow:0.1rem 0.1rem 0.5rem rgba(0, 0, 0, .2)
}
.new-command .table td .jsoagger-product-details-name__21,.new-command .table td .jsoagger-basket-item-price, .new-command h5.jsoagger-basket-label{
	font-family:"Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight:700;
	font-size:1.25rem;
	color:var(--link-color)
}
.new-command .table td .jsoagger-product-quantity-add-to-cart{
	border-bottom:1px solid rgba(0, 0, 0, .1);
}
.new-command .jsoagger-product-quantity-add-to-cart svg{
	border:1px solid var(--link-color);
	border-radius:2rem;
	color:#a7a7a7;
	background:#fff;
	width:1rem;
	height:1rem;
}
.new-delete{
	color:var(--accent-color);
	background:#fff;
	border:none;
	border-radius:10rem;
	box-shadow:0 0 0.3rem rgba(0, 0, 0, .2);
	padding:0rem;
	font-size:1rem;
	width:2rem;
	height:2rem;
	display:inline-block;
	text-align:center;
}
.new-right-command{
}
.new-right-command-delivery .card, .new-right-command-recap .card {
	border-radius:0;
	border:none;
	box-shadow:0 0 0.3rem rgba(0, 0, 0, .2)
}
.new-right-command-delivery .react-datepicker-wrapper input{
	border:none;
	border-bottom:1px solid;
	float:left;
	width:12rem;
}
.new-right-command-delivery .react-datepicker-wrapper a{
	color:var(--accent-color)
}
.new-right-command-recap .new-total{
	font-family:"Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight:700;
	font-size:1.25rem;
}
.new-right-command-btn a{
	background:var(--accent-color);
	border-color:var(--accent-color);
	border-radius:0;
	color:#fff;
}
.new-checkout{
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	text-align:center;
	margin-top:4rem;
	border-top:1px solid rgba(0, 0, 0, .2);
	padding-top:4rem;
	list-style:none;
	color:var(--link-color);
}
.new-checkout svg{
	color:var(--accent-color);
	font-size:1.5rem
}

.cart-container{background:var(--primary-client-background);}
.cart-body{}
.cart-container .home-button{margin-top:20px}
.cart-item-name{font-size:1em;color:#144a82;padding-top:22px !important}
.cart-item-description{font-weight:300;font-size:0.85rem;}
.cart-payment-informations-root{margin: 3em 0 0em 0;}
.cart-informations-root{}
.cart-item-count{
	font-size:1.4rem;
	margin: 0em 0 0.5em 0;
	color:#144a82;
}

.cart-empty{
	background:white;
	padding:80px;
	text-align:center;
}
.cart-item-price{font-size:1.2em;font-weight:300;margin-top:0.5em}
.cart-item-delete{}

.shipping-choice-modes{}
.shipping-choice-mode{
	position:relative;
	margin-bottom:10px;
}
.shipping-choice-link {
	position:relative;
	display:block;
	background:#fff;
	color:#232323;
	text-decoration:none;
	vertical-align:middle;
	height:80px;
}
.shipping-choice-content{
	display:table;
	width:100%;
	vertical-align:middle;
}
.shipping-choice-content-left {
	position:relative;
	display:block;
	padding:20px;
}
.shipping-choice-radio{
	width:5%;
	display:inline-block;
	width:25px;
	height:25px;
	margin-right:10px;
	margin-bottom:0;
	vertical-align:middle;
}
.radio-label.radio-label--medium:before {
	width:24px;
	height:24px;
}
.radio-label {
	padding-left:30px;
	margin-right:20px;
	margin-bottom:0;
	color:#232323;
	cursor:pointer;
	font-size:14px;
	font-weight:300;
}
.shipping-choice-title {
	display:inline-block;
	height:26px;
	padding:0;
	margin-right:10px;
	font-size:16px;
	font-weight:700;
	line-height:26px;
	vertical-align:middle;
}
.shipping-choice-price {
	position:absolute;
	top:50%;
	right:30px;
	margin-top:-12px;
	color:#232323;
	font-weight:700;
	line-height:26px;
}
.shipping-choice-price--free {
	color:#d4180e;
}
.new-livr .shipping-choice-content{
	box-shadow:0 0 0.3rem rgba(0, 0, 0, .2);
}
.new-livr .shipping-choice-content svg{
	color:var(--accent-color)
}

.payment-options{
    margin: 15px 0 15px 0;
}
.datatable-paiement{
	width: 100%;
    border: 1px solid #bef1ff;
    margin: 0 0 15px 0;
    text-align: center;
    background:white;
}
.datatable-paiement th {
    font-weight: 400;
    font-size: 0.8em !important;
    background: #f5f5f5;
    color: #5c5c5c;
    padding:1em 0em 1em 0em;
}
.datatable-paiement tr {
    border-top: 1px solid #bef1ff;
}
datatable-paiement td {
    text-align: left;
    vertical-align: middle;
    padding: 20px 0!important;
}
.datatable-paiement td div{
	padding: 1em 0em 1em 0em;
    width: 100%;
    display: block;	
}
.datatable-paiement td div.payment-choice {
    border-right: 1px solid #bef1ff;
}
.datatable-paiement td div.centered{
	text-align: center;
}
.datatable-paiement td div.left{
	text-align: left;
	padding-left:1em;
}
.payment-items-table .table{background:white}
.payment-items-table-title{border: 1px solid #bef1ff;}
.new-illustration .image-gallery-slide-wrapper{
	border:2px solid var(--accent-color);
	/*box-shadow:0.3rem 0.3rem 0.7rem rgba(0, 0, 0, .2);*/
	margin-bottom:20px;
}
.new-illustration image-gallery-image{
	min-height:500px !important;
}


.jsoagger-hfilter-title{
	font-weight:100 !important;
}
.admin-product-hcard-parent{
	margin-left:30px;
	margin-right:30px;
	margin-bottom:30px;
	border-left:0px solid #eeee;
	border-right:0px solid #eeee;
	padding:3px 20px 30px 20px;
}
.admin-product-hcard-actions{
	padding-right:30px;
}
.admin-product-hcard{
	border-left:4px solid red;
	margin-bottom:10px;
	width:100%;
	box-shadow:1px 1px 1px 0 rgba(18,40,68,.2);
	background:#fafafa;
}
.product-price-stripped{
	color:#FF0000;
	font-size:1em;
	text-decoration:line-through;
}
.shop-header-main-logo{
	float:left;
    right: 41px;
}
.shop-header-main-logo img{height:60px}
.register-store{
	padding:22px;
	background:#eeee !important;
}

.product-by-category .thumb-info{
	min-height:320px !important;
}
.product-search .thumb-info{
	min-height:120px !important;
	max-height:120px !important;
	min-width:120px !important;
	max-width:120px !important;
}
.new-thumbnail .thumb-info{
	min-height:100px !important;
	max-height:100px !important;
	min-width:160px !important;
}

.contact-infos{
	background:white;
	border:1px solid #bef1ff;
	margin: 10px 
	0px 30px 0px;
}
.contact-infos-body{padding: 1em;color:#5c5c5c}
.contact-infos-title{padding:1em 0px 1em 1em; background:#f5f5f5;border-bottom:1px solid #bef1ff;font-size:0.8em}

.summary-content{margin-top:1.3"m";}
.summary-delivery,
.summary-content,.summary-promotion-code{background:#FFFFFF;padding:1.3em}
.summary-delivery{margin-bottom:0.5em}
.cart-delivery-form{background:#FFFFFF;}
.header-main .top-link{background-color:var(--header-main-background) !important;}

.big-menu{display: flex;}
.big-menu{min-height:100%;margin:auto;padding:auto;}
.big-menu-item{margin-right:10px}

.single-main-menu-parent{overflow:hidden}
.single-main-menu{height:100%;overflow:hidden;}

.store-website-link{border:1px dashed var(--accent-color);background:transparent;padding:0px 12px 0px 12px;}
.store-website-link-name{color:#333;font-weight:800;font-size:18px}
.store-website-link-icon{color:#333;}

.floating-scroll-button:hover{box-shadow: 2px 2px 3px #999;}
.floating-scroll-button{
	position:fixed;
	width:60px;
	height:60px;
	bottom:80px;
	right:40px;
	background-color:var(--floating-scroll-button-color);
	color:#FFF;
	text-align:center;
	box-shadow: none;
}
.no-access-header-link{padding-top:0em;}
.no-access-header-button-label{font-size:1.6em;margin-left: 1em;text-decoration:underline}
.no-access-header-link svg{width:1.4em;height:1.4em}

.shadowed-pane-1,
.shadowed-pane{
	padding: 1rem;
	margin: 0;
	display: block;
	background-color: #fff;
	border: 0 solid #e6e6e6;
	border-radius: 6px;
	-webkit-box-shadow: 0 0 6px 0 rgba(0,14,156,.2);
	box-shadow: 0 0 6px 0 rgba(0,14,156,.2);
}
.jsoagger-header-menu-title-wrapper .list-group,
.jsoagger-menu-popover{
	max-height:800px;
	max-width:800px;
	min-height:400px;
	/*overflow:scroll;*/
}

.centered-content-table{
	border: 1px solid #bef1ff;
}

.centered-content-table thead th{
	text-align:center;

}
.centered-content-table tbody tr{
	text-align:center;
}

.border{
	border-color:#bef1ff;
}

.processing-modal .modal-content{
	background: white;
}

.modal-content{
	border-radius:0;
	border: 1px solid #eeee;
}