/***  commons_core **/

.main-footer-social-links{text-align:center;padding-top:4rem;}
.main-footer-legal-links{text-align:center}
.legal-list-links{margin-top: 1.875rem;border-top:.0625rem solid #dfdfdf;padding-top:2rem;font-size:1.1rem}
.horizontal-list-item{margin: 0 0 0 1.25rem;display:inline-block;}

.main-footer-parent{background:#f5f5f5; padding: 5rem; color: #969696;font-size:16px}
.main-footer{background: #969696; padding: 1rem; color: #fff;}
.main-footer a{color: #fff}
.main-footer-list{margin-bottom: 1rem;list-style: none;padding-inline-start: 0px;margin-top:2.5rem;}
.main-footer-list-item{margin-bottom: 1rem;list-style: none;color: #484848;font-size:1.2rem}
.main-footer-list .nav-link{padding:0;}

.js-2x {font-size:2.4em;}
.js-1x {font-size:1.6em;}
.js-xl {font-size:1.2em;}

.no-padding {padding:0rem !important;}
.no-margin{margin:0rem !important;}
.no-border{border:0px;}

.login-margin{margin-top:15% !important;}
.bg-login{background:#1976d2;}
.white-background{background:white}

.jsoagger-login{max-height:450px;}

.admin-left-pane-md{
	max-height: 100%;
	height: calc(100vh - 106px);
	min-width: 16.666667%;
    position: sticky;
    z-index: 1000;
    background-color: #f7f7f7;
    border-right: 1px solid #ececec;
    padding-left:15px;
    padding-right: 15px;
    padding-top:15px;
}

.admin-middle-pane-sticky-header{width:auto;display:block;max-width:385px;min-width:385px;background:white;}
.admin-middle-left-pane{max-width:390px;min-width:390px;overflow:auto;background-color:white !important;position: absolute;height: calc(100vh - 106px);}


/***  custom_sh **/

svg:not(:root).svg-inline--fa {overflow: visible;}
.svg-inline--fa.fa-w-18 {width: 1.125em;}
.svg-inline--fa {display: inline-block;font-size: inherit;height: 1em;overflow: visible;vertical-align: -.125em;}
.main-button-svg,.header-button-svg{color:#fff}

.jsoagger-header-popover .popover{max-height: 550px !important;min-width:450px !important;}
.jsoagger-header-popover .popover-body{overflow: scroll;max-height: 450px !important;padding:0px 20px 20px;}
.jsoagger-cart-modal-content .modal-content{max-height:600px !important;}
.jsoagger-header-popover .popover{z-index:9999}
.jsoagger-cart-fixed-header-navbar{background:white !important;border-bottom: 1px solid #c8ced3;height:80px;}
.jsoagger-basket-container{padding:100px 0 40px 0;}
.jsoagger-main-favoris{padding: 120px 0 40px 0;}

.main-caption-img img {width:auto !important;min-width:100%;max-height:800px !important}
.card-deck-ajust{margin-left:80px}

a.dropdown-item{color:black;}
.breadcrumb-item{font-size:1.2rem}	


.main-menu{min-height:62px;padding-top:12px}

.header-main{background-color: #b7c33b !important;}
.mobile-link{padding: 0!important; margin: 0!important;}
.top-link .action button{color: #fff; height: 4rem; background: rgba(0, 0, 0, .2); border-radius: 0; transition:.3s all ease-in}
.top-link .action button:hover{background-color: #4f0c5d;text-decoration:none}

.main-product{}

.main-caption-img{min-width:1200px;max-height:800px}

.top-product-deck{}
.top-search svg {margin-left: -4rem;}

.basket-container{margin-top:120px;background:#e0e0e0;}

.product-card{
	min-width:22%;
	max-width:22%;
}

.product-card img {
	max-height:200px;
}

.parent-main-offer{padding-bottom: 80px}
.parent-top-products{background:#e0e0e0;}


